.container-profile {
  font-family: "Inter";
  display: flex;
  justify-content: center;
  margin: 3em;
}

.info-profile {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 63em;

  .user-profile {
    display: flex;
    .img-avatar {
      width: 134px;
      height: 134px;
      border-radius: 50%;
      object-fit: cover;
      object-position: center;
    }
    .info-user-profile {
      margin: 20px;
      .user-name {
        color: #fff;
        font-size: 35px;
        font-weight: 600;
        letter-spacing: -1px;
        margin-bottom: 5px;
      }

      .tag-name {
        color: #7878a3;
        margin-bottom: 2em;
      }
    }

    .info-acount {
      display: flex;
      p {
        color: #fff;
        margin-right: 10px;
        span {
          font-weight: 600;
          color: #877eff;
        }
      }
    }
  }

  .edit-follow-button.disabled {
    background-color: #141416;
  }

  .edit-follow-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 1em;
    border-radius: 10px;
    background-color: #1f1f22;
    border: none;
    cursor: pointer;
    p {
      margin-left: 8px;
    }
    .follow-icon {
      color: #35b539;
    }
    .unfollow-icon {
      color: #b53535;
    }
  }
}

.options-profile {
  display: flex;
  justify-content: center;
  font-family: "Inter";
  margin: 3em;

  .buttons-actions-profile {
    display: flex;
    width: 100%;
    max-width: 60em;
    .button-post-profile,
    .button-like-profile {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1em;
      border: none;
      color: #fff;
      font-size: 15px;
      font-weight: 600;
      cursor: pointer;
      width: 10em;

      img {
        margin-right: 10px;
      }
    }
    .button-post-profile {
      border-radius: 10px 0 0 10px;
    }

    .button-like-profile {
      border-radius: 0 10px 10px 0;
    }

    .active {
      background-color: #1f1f22;
    }

    .inactive {
      background-color: #09090a;
    }
  }
}

.post-likes {
  display: flex;
  justify-content: center;
  font-family: "Inter";
  margin: 3em;
}

@media (max-width: 850px) {
  .info-profile,
  .user-profile {
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
  .buttons-actions-profile {
    justify-content: center;
  }
}
