.container-login {
  display: flex;
  flex-direction: column;
  font-family: "Inter";
  color: #fff;
  width: 100%;
  max-width: 25em;

  .info-login {
    display: flex;
    justify-content: center;
  }
  .form-login {
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: 5px;
    }

    .button-login {
      border: none;
      background-color: #877eff;
      padding: 1em;
      color: #fff;
      border-radius: 10px;
      cursor: pointer;
      margin-bottom: 1.5em;
    }
  }
  .link-register {
    text-align: center;
    .link{
        text-decoration: none;
        color: #877EFF;
    }
  }
}



