.container-commets {
  display: flex;
  flex-direction: column;
  background-color: #09090a;
  border-radius: 15px;
  margin: 0 1em;
  border: 1px solid rgba(31, 31, 34, 1);
  padding: 2em;
  color: #fff;
  font-family: "Inter";
  height: 400px;
  overflow-y: auto;

  .comment {
    display: flex;
    margin-bottom: 1em;
    border-bottom: 1px solid rgb(33, 33, 36);
    margin-bottom: 1em;

    .comment-user {
      padding: 0 0 1.5em 0;
      img {
        width: 4em;
        height: 4em;
        border-radius: 50%;
        margin: 0 1em 0 0;
        object-fit: cover;
        object-position: center;
      }
    }

    .comment-content {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      word-wrap: break-word;
      word-break: break-word;

      .info-user-comment {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        .user-comment {
          display: flex;
        }
        .icon-calification {
          font-size: 24px;
          background-color: transparent;
          border: none;
          margin-right: 10px;
          cursor: pointer;
          color: #877eff;
        }
        .name-comment {
          font-weight: 600;
        }
        .username-comment {
          color: #7878a3;
          margin-left: 15px;
        }
      }
    }
  }
}
