@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

body,p,ul,h2{
    margin: 0;
    padding: 0;
}

.layout {
    width: 100vw; 
    height: 100vh; 
    display: flex;
}
  
.layout-content {
    flex: 1; 
    overflow-y: auto;
    height: 100vh;
    background-color: #000;
}

.bottom-bar,
.container-topbar{
  display: none;
}

.auth-layout {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  overflow: hidden;
}

.auth-layout > section {
  flex: 1; 
  display: flex;
  justify-content: center;
  align-items: center; 
  background-color: #000;
}

.img-login {
  flex: 1; 
  object-fit: cover; 
}

.form-input {
  color: #fff;
  background-color: #1f1f22;
  border: none;
  outline: none;
  margin-bottom: 2em;
  padding: 1em;
  border-radius: 8px;
  font-size: 1em;
}

.not-allowed{
  opacity: 0.5;
  cursor: not-allowed;
}

.form-input:focus{
  border: 0.1em solid #877eff;
  outline: none;
}

.loader{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.button {
  border: none;
  border-radius: 5px;
  padding: 16px 20px;
  color: #fff;
  font-weight: 600;
  margin: 5px;
  cursor: pointer;
}

.update {
  background-color: #877eff;
}

.cancel {
  background-color: #1f1f22;
}

@media (max-width: 768px) {
  .layout{
    display: block;
  }
  .leftsidebar{
    display: none;
  }  
  .bottom-bar,
  .container-topbar{
    display: flex;
  }  

  .img-login{
    display: none;
  }
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
  }

::-webkit-scrollbar-track {
    background: #09090a;
  }

::-webkit-scrollbar-thumb {
    background: #5c5c7b;
    border-radius: 50px;
  }

::-webkit-scrollbar-thumb:hover {
    background: #7878a3;
  }

